.product {
  padding: 0 30px;
  flex: 4;
}

.product__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__add-btn {
  width: 80px;
  border: none;
  padding: 5px;
  color: #fff;
  background-color: teal;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.product-top {
  display: flex;
}

.product-top-left,
.product-top-right {
  flex: 1;
}

.product-top-right {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.product-info-top {
  display: flex;
  align-items: center;
}

.product-info__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}

.product-info__name {
  font-weight: 600;
}

.product-info-bottom {
  margin-top: 10px;
}

.product-info__item {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.product-info__key {
  font-weight: 600;
}

.product-info__value {
  font-weight: 300;
}

.product-bottom {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.product__form {
    display: flex;
    justify-content: space-between;
}

.product__form-left {
    display: flex;
    flex-direction: column;
}

.product__form-left > label {
    margin-bottom: 10px;
    color: gray;
}

.product__form-left > input {
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.product__form-left > input:focus {
    outline: none;
}

.product__form-left > select {
    margin-bottom: 10px;
}

.product__form-right {
}
