.userlist {
    flex: 4;
    padding: 0 30px;
    margin-top: 25px;
}

.userlist__user {
    display: flex;
    align-items: center;
}

.userlist__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.userlist__edit {
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #3bb077;
    margin-right: 20px;
    cursor: pointer;
}

.userlist__delete {
    color: red;
    cursor: pointer;
}